{#
/**
 * Available variables:
 * - style: either 'style1' or 'style2', toggles between header styles
 * - title: an optional main title for the header
 * - text: the optional main body of text for the header
 * - image: the main image for the module
 */
#}

{% if style == 'style1' %}
    {% set styleClass = 'text-left' %}
{% else %}
    {% set styleClass = 'text-right' %}
{% endif %}

<section class="header {{ styleClass }}">
    <div
        class="image lazyload"
        role="img"
        arial-label="{{ image.altText }}"
        data-src="{{ image.getUrl(width400Transform) }}"
        data-bgset="
        {{ image.getUrl(width400Transform) }} [(max-width: 400px)] |
        {{ image.getUrl(width800Transform) }} [(max-width: 800px)] |
        {{ image.getUrl(width1200Transform) }}
        "
        data-sizes="auto"
    ></div>
    <div class="flourish"></div>
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <div class="text-wrapper">
                <h1 class="{% if title|length >= 20 %}h3{% endif %}">
                    {{ title }}
                </h1>
                {% if text is defined and text != '' %}
                    {{ text|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</section>
