{#
/**
 * Available variables:
 * - style: either 'style1' or 'style2', toggles between header styles
 * - title: an optional main title for the header
 * - text: the optional main body of text for the header
 * - image: the main image for the module
 */
#}

{% if style == 'style1' %}
    {% set styleClass = 'text-left' %}
    {% set svg = '/img/text-left.svg' %}
{% else %}
    {% set styleClass = 'text-right' %}
    {% set svg = '/img/text-right.svg' %}
{% endif %}

<section class="header {{ styleClass }}">
    <div class="image" style="background-image: url('{{ image.getUrl('headerImageTransform') }}');" role="img" arial-label="{{ image.altText }}"></div>
    <img class="flourish" src="{{ svg }}">
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <div class="text-wrapper">
                <h1 class="{% if title|length >= 20 %}h3{% endif %}">
                    {{ title }}
                </h1>
                {% if text is defined and text != '' %}
                    {{ text|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</section>
