{#
/**
 * Available variables:
 * - style: either 'style1' or 'style2', toggles between header styles
 * - title: an optional main title for the header
 * - text: the optional main body of text for the header
 * - image: the main image for the module
 */
#}

{% set tinyTransform = {
    width: 100,
    height: 100,
    position: 'center-center'
}%}

{% set mediumTransform = {
    width: 400,
    height: 400,
    position: 'center-center'
}%}

{% set largeTransform = {
    width: 800,
    height: 800,
    position: 'center-center'
}%}

{% if style == 'style1' %}
    {% set styleClass = 'text-left' %}
    {% set svg = '/img/text-left.svg' %}
{% else %}
    {% set styleClass = 'text-right' %}
    {% set svg = '/img/text-right.svg' %}
{% endif %}

<section class="header {{ styleClass }}">
    <script>
        function loadJS(u){var r=document.getElementsByTagName("script")[0],s=document.createElement("script");s.src=u;r.parentNode.insertBefore(s,r);}

        if(!window.HTMLPictureElement || !('sizes' in document.createElement('img'))){
            loadJS("ls.respimg.min.js");
        }
    </script>

    <div 
        class="image lazyload"
        role="img" 
        arial-label="{{ image.altText }}"
        data-bgset="
        https://via.placeholder.com/200/0000FF/808080 [(max-width: 399px)] |
        https://via.placeholder.com/400/FF0000/FFFFFF [(max-width: 799px)] |
        https://via.placeholder.com/800/FFFF00/000000 [(max-width: 1599px)] |
        https://via.placeholder.com/1600/0000FF/808080 1600w
        "
        data-sizes="auto"
    ></div>
    <img class="flourish" src="{{ svg }}">
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <div class="text-wrapper">
                <h1 class="{% if title|length >= 20 %}h3{% endif %}">
                    {{ title }}
                </h1>
                {% if text is defined and text != '' %}
                    {{ text|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</section>
