{#
/**
 * Available variables:
 * - style: either 'style1' or 'style2', toggles between header styles
 * - title: an optional main title for the header
 * - text: the optional main body of text for the header
 * - image: the main image for the module
 */
#}

{% set smallTransform = {
    mode: 'crop',
    width: 400,
    position: 'center-center',
    format: 'jpg',
}%}

{% set mediumTransform = {
    mode: 'crop',
    width: 800,
    position: 'center-center',
    format: 'jpg',
}%}

{% set largeTransform = {
    mode: 'crop',
    width: 1200,
    position: 'center-center',
    format: 'jpg'
}%}

{% if style == 'style1' %}
    {% set styleClass = 'text-left' %}
{% else %}
    {% set styleClass = 'text-right' %}
{% endif %}

<section class="header {{ styleClass }}">
    <div 
        class="image lazyload"
        role="img" 
        arial-label="{{ image.altText }}"
        data-src="{{ image.getUrl(smallTransform) }}"
        data-bgset="
        {{ image.getUrl(smallTransform) }} [(max-width: 400px)] |
        {{ image.getUrl(mediumTransform) }} [(max-width: 800px)] |
        {{ image.getUrl(largeTransform) }}
        "
        data-sizes="auto"
    ></div>
    <img class="flourish" src="">
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <div class="text-wrapper">
                <h1 class="{% if title|length >= 20 %}h3{% endif %}">
                    {{ title }}
                </h1>
                {% if text is defined and text != '' %}
                    {{ text|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</section>
