<section class="header {{ style }}">
    <img class="main-img" src="{{ imgSrc }}" alt="{{ imgAlt }}">

    <div class="container text-div">
        <h2>{{ title }}</h2>
        <p>{{ details }}</p>
    </div>

    <div class="svg-div">
        <img class="main-svg" src="{{ svgSrc }}" alt="{{ svgAlt }}">
    </div>
</section>
