<section class="icon-callout-set container">
    <h2 class="title">{{ iconObj.title }}</h2>
    <ul class="icons">
        {% for icon in iconObj.icons%}
        <li>
            <img src="{{ icon.imgSrc }}" alt="{{ icon.altText }}">
            <h3>{{ icon.subtitle }}</h3>
            <p>{{ icon.details }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
