{#
/**
 * Available variables:
 * - title: The main title of the icon-callout-set
 * - icons: icon objects in an array each conataining an imgSrc, altText, title, and details variables
 */
#}
{% autoescape false %}
<section class="icon-callout-set container">
    <h2 class="title">{{ title }}</h2>
    <ul class="icons">
        {% for icon in icons %}
            {% set image = icon.image|first %}

            <li>
                <img src="{{ image.getUrl() }}" alt="{{ image.altText }}">
                <h3>{{ icon.customTitle }}</h3>
                <p>{{ icon.details }}</p>
            </li>
        {% endfor %}
    </ul>
</section>
{% endautoescape %}
