{#
/**
 * Available variables:
 * - title: The main title of the icon-callout-set
 * - icons: icon objects in an array each conataining an image object, customTitle, and details variables
 */
#}
{% set iconCalloutImageTransform = {
    mode: 'crop',
    width: 100,
    height: 100,
    quality: 75,
    position: 'top-center'
}%}

{% autoescape false %}
<section class="icon-callout-set container">
    <h2 class="title">{{ title }}</h2>
    <div class="icons">
        {% for icon in icons%}
        <div class="icon-wrapper">
            {% if icon.image|first %}
                {% set image = icon.image|first %}
                <div class="image-wrapper">
                    <img src="{{ image.getUrl() }}" alt="{{ image.altText }}">
                </div>
            {% endif %}
            <h3>{{ icon.customTitle }}</h3>
            {% if icon.details %}
                <p>{{ icon.details }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </udiv>
</section>
{% endautoescape %}
