{#
/**
 * Available variables:
 * - style: determines if the image is on the left or right of the module,
 * - image: main module image
 * - title: main title for the module
 * - text: main body of text for the module
 * - link: an object containing link data
 */
#}

{% set imageTextImageTransform = {
    mode: 'crop',
    width: 100,
    height: 100,
    quality: 75,
    position: 'top-center'
}%}

{% set directionClass = style == 'imageRight' ? 'image-right' : 'image-left' %}
{% autoescape false %}
<section class="image-text-callout {{ directionClass }}">
    <div class="container callout">
        <div class="image-wrapper">
            {# <img class="image" 
                src="{{ image.getUrl(imageTextImageTransform)}}"
                srcset="/src/to/img.jpeb 480w, etc"
                sizes="(max-width: 600px) 480px"
                alt="{{ image.altText }}"
            > #}
        </div>

        <div class="text-wrapper">
            <h2 class="centered">{{ title }}</h2>
            <div>
                {{ text|raw }}
            </div>
            <div class="centered">
                {{ link.getLink({ class: 'btn btn-primary' }) }}
            </div>
        </div>
    </div>
</section>
{% endautoescape %}
