{#
/**
 * Available variables:
 * - style: determines if the image is on the left or right of the module,
 * - image: main module image
 * - title: main title for the module
 * - text: main body of text for the module
 * - link: an object containing link data
 */
#}

{% set directionClass = style == 'imageRight' ? 'image-right' : 'image-left' %}
{% autoescape false %}
<section class="image-text-callout {{ directionClass }}">
    <div class="container mid-large callout">
        <div class="image-wrapper">
            <img
                class="image lazyload"
                data-src="{{ image.getUrl(width400Transform) }}"
                data-srcset="
                    {{ image.getUrl(width400Transform) }} 300w,
                    {{ image.getUrl(width800Transform) }} 600w,
                    {{ image.getUrl(width1200Transform) }} 1000w,
                "
            >
        </div>

        <div class="text-wrapper">
            <h2 class="centered">{{ title }}</h2>
            <div>
                {{ text|raw }}
            </div>
            <div class="centered">
                {{ link.getLink({ class: 'btn btn-primary' }) }}
            </div>
        </div>
    </div>
</section>
{% endautoescape %}
