{#
/**
 * Available variables:
 * - style: determines if the image is on the left or right of the module,
 * - image: main module image
 * - title: main title for the module
 * - text: main body of text for the module
 * - link: an object containing link data
 */
#}

{% set tinyTransform = {
    width: 100,
    position: 'center-center'
}%}

{% set mediumTransform = {
    width: 400,
    position: 'center-center'
}%}

{% set largeTransform = {
    width: 800,
    position: 'center-center'
}%}

{% set directionClass = style == 'imageRight' ? 'image-right' : 'image-left' %}
{% autoescape false %}
<section class="image-text-callout {{ directionClass }}">
    <div class="container callout">
        <div class="image-wrapper">
            <img 
                class="image lazyload"
                data-src="{{ image.getUrl() }}" 
                data-srcset="
                    https://via.placeholder.com/200/0000FF/808080 200w, 
                    https://via.placeholder.com/400/FF0000/FFFFFF 400w,
                    https://via.placeholder.com/800/FFFF00/000000 800w,
                    https://via.placeholder.com/1600/0000FF/808080 1600w,
                " 
                data-sizes="auto"
                alt="MDN Web Docs"
            >
        </div>

        <div class="text-wrapper">
            <h2 class="centered">{{ title }}</h2>
            <div>
                {{ text|raw }}
            </div>
            <div class="centered">
                {{ link.getLink({ class: 'btn btn-primary' }) }}
            </div>
        </div>
    </div>
</section>
{% endautoescape %}
