{#
/**
 * Available variables:
 * - style: determines if the image is on the left or right of the module,
 * - image: main module image
 * - title: main title for the module
 * - text: main body of text for the module
 * - link: an object containing link data
 */
#}

{% set smallTransform = {
    mode: 'crop',
    width: 300,
    position: 'center-center',
    format: 'jpg'
}%}

{% set mediumTransform = {
    mode: 'crop',
    width: 600,
    position: 'center-center',
    format: 'jpg'
}%}

{% set largeTransform = {
    mode: 'crop',
    width: 1000,
    position: 'center-center',
    format: 'jpg'
}%}

{% set directionClass = style == 'imageRight' ? 'image-right' : 'image-left' %}
{% autoescape false %}
<section class="image-text-callout {{ directionClass }}">
    <div class="container callout">
        <div class="image-wrapper">
            <img 
                class="image lazyload"
                data-src="{{ image.getUrl(smallTransform) }}" 
                data-srcset="
                    {{ image.getUrl(smallTransform) }} 300w,
                    {{ image.getUrl(mediumTransform) }} 600w,
                    {{ image.getUrl(largeTransform) }} 1000w,
                "
            >
        </div>

        <div class="text-wrapper">
            <h2 class="centered">{{ title }}</h2>
            <div>
                {{ text|raw }}
            </div>
            <div class="centered">
                {{ link.getLink({ class: 'btn btn-primary' }) }}
            </div>
        </div>
    </div>
</section>
{% endautoescape %}
