{#
/**
 * Available variables:
 * - style: determines if the image is on the left or right of the module,
 * - image: main module image
 * - title: main title for the module
 * - text: main body of text for the module
 * - link: an object containing link data
 */
#}

{% set directionClass = style == 'imageRight' ? 'image-right' : 'image-left' %}
{% autoescape false %}
<section class="image-text-callout {{ directionClass }}">
    <div class="container callout">
        <div class="image-wrapper">
            <img class="image" src="{{ image.getUrl() }}" alt="{{ image.altText }}">
        </div>

        <div class="text-wrapper">
            <h2 class="centered">{{ title }}</h2>
            <div>
                {{ text|raw }}
            </div>
            <div class="centered">
                {{ link.getLink({ class: 'btn btn-primary' }) }}
            </div>
        </div>
    </div>
</section>
{% endautoescape %}
