{#
/**
* Available variables:
* - title: main title for the module
* - photos: array of objects each containing imgSrc, altText, title, and name variables
*/
#}

{% autoescape false %}
<section class="photo-grid">
    <div class="container">
        <h2 class="grid-title">{{ title }}</h2>
        <ul class="grid">
            {% for photo in photos %}
            <li>
                <img src="{{ photo.imgSrc }}" alt="{{ photo.altText }}">
                <p class="text">{{ photo.title }}</p>
                <p class="h3">{{ photo.name }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endautoescape %}
