<section class="photo-grid">
    <div class="container">
        <!-- TODO: responsive text-size, animate on scroll, plenty of refactoring on integration -->
        <h2 class="grid-title">{{ photoObj.title }}</h2>
        <ul class="grid">
            {% for photo in photoObj.photos %}
            <li>
                <img src="{{ photo.imgSrc }}" alt="{{ photo.altText }}">
                <p class="text">{{ photo.title }}</p>
                <p class="h3">{{ photo.name }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
