{#
/**
* Available variables:
* - title: main title for the module
* - photos: array of objects each containing an image object and customTitle and details values
*/
#}

{% set smallTransform = {
    mode: 'crop',
    width: 400,
    height: 400,
    position: 'center-center',
    format: 'jpg'
}%}

{% set largeTransform = {
    mode: 'crop',
    width: 600,
    height: 600,
    position: 'center-center',
    format: 'jpg'
}%}

{% autoescape false %}
<section class="photo-grid">S
    <div class="container">
        <h2 class="grid-title">{{ title }}</h2>
        <div class="grid">
            {% for photo in photos %}
                <div class="photo-wrapper">
                    {% set image = photo.image|first %}
                    {% if image %}
                        <div class="image-wrapper">
                            <img 
                                class="lazyload" 
                                data-src="{{ image.getUrl(smallTransform) }}" 
                                data-srcset="
                                    {# {{ image.getUrl(smallTransform) 400w, }} #} 
                                    https://via.placeholder.com/400/FF0000/FFFFFF 400w,
                                    {# {{ image.getUrl(largeTransform)800w, }} #} 
                                    https://via.placeholder.com/600/FFFF00/000000 600w
                                "  
                                data-sizes="auto"
                            >
                        </div>
                    {% endif %}
                    <p class="text-wrapper">{{ photo.customTitle }}</p>
                    <p class="h3">{{ photo.details }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endautoescape %}
