{#
/**
* Available variables:
* - title: main title for the module
* - photos: array of objects each containing an image object and customTitle and details values
*/
#}

{% autoescape false %}
<section class="photo-grid">
    <div class="container">
        <h2 class="grid-title">{{ title }}</h2>
        <ul class="grid">
            {% for photo in photos %}
            <li>
                {% set image = photo.image|first %}
                <img src="{{ image.getUrl() }}" alt="{{ image.altText }}">
                <p class="text">{{ photo.customTitle }}</p>
                <p class="h3">{{ photo.details }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endautoescape %}
