{#
/**
 * Available variables:
 * - image: the background image for the slider
 * - slides: an array of slide objects which have quote and byline attributes
 */
#}

<section 
    class="feature-slider lazyload" 
    data-src="{{ image.getUrl(width400Transform) }}"
    data-bgset="
        {{ image.getUrl(width400Transform) }} [(max-width: 400px)] |
        {{ image.getUrl(width800Transform) }} [(max-width: 800px)] |
        {{ image.getUrl(width1200Transform) }} [(max-width: 1200px)] |
        {{ image.getUrl(width1600Transform) }}
    "
    data-sizes="auto"
>
    <div class="purple-filter"></div>
    <section class="js-slider slider">
        {% for slide in slides %}
            <div class="slide-text container">
                <div class="text-wrapper">
                    <p class="quote h3">{{ slide.quote }}</p>
                    {% if slide.byline %}<p class="person-quoted">-{{ slide.byline }}</p>{% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
</section>
